.slider {
  width: 100%;           /* 画面幅いっぱい */
  height: 350px;
  background-color: #f0f0f0;
  overflow: hidden;       /* 横スクロールを隠す */
  position: relative;
}

/* スライドトラック */
.slider-track {
  display: flex;
  width: max-content;     /* コンテンツ幅に合わせる */
  animation: scroll 20s linear infinite;
}

/* 各スライド */
.slide {
  flex: 0 0 100vw;        /* 各スライドは画面幅に合わせる */
  height: 370px;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* 画像をスライドにフィット */
}

/* アニメーション */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* 1枚分流れる */
  }
}


.haikei-item {
  position: relative;
  display: inline-block; /* 横に並べたいなら */
  margin-top: 20px;
  
}

.haikei-item img {
  display: block;
}

.shindan {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 中央に配置 */
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 5px black; /* 読みやすく */
  pointer-events: none; /* クリックが画像に届くように */
}
.haikei{
  z-index:0;
  margin-left: 25px;

}
.all{
  height:800px ;
  background-color: beige;
}

footer {
  color: white;
  height: 50px;
  background-color: #000;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 100px;
}