h1{font-size: 30px;
    align-items: center;
    color: gray;
    margin-left: 170px;
}

.field{font-size: 25px;
    margin-left: 130px;
    margin-top: 30px;
    color: gray;
   
}
.kensaku{margin-top: 50px;
    margin-left: 400px;

}
.share{
    height: 800px;
}
.osusume{
   margin: 1em 10px;
  padding: 1em;
  background-color: #b3e5fc;
  border: dashed 3px beige;
  box-shadow: 0 0 0 10px #b3e5fc;
  border-radius: 5px;
  width:800px;
  height:350px;
  margin-left: 200px;
}
.osusume p{
  margin: 0;
  padding: 0;
}
.kensaku{
   margin: 1em 10px;
  padding: 1em;
  background-color: #b3e5fc;
  border: dashed 3px #29b6f6;
  box-shadow: 0 0 0 10px #b3e5fc;
  border-radius: 5px;
  margin-top: 20px;
  width:800px;
  height:200px;
  margin-left: 200px;
    
}
h3{margin-left: 180px;
    color: gray;

}
.kensaku2{margin-left: 280px;

}
.share{
    background-image:url(beach.jpg)
}