h5{
    font-size: 32px;
    color: rgb(242, 131, 183);
}
.col-12 p{
    font-size:25px;
    color: #2e31c4;
}
.container-sindan{
 text-align: center;
 display: flex;
    flex-direction: column; /* 縦方向 */
    align-items: center;    /* 横方向中央 */
    justify-content: center; /* 縦方向中央 */
    min-height: 100vh;      /* 画面全体の高さ確保 */
    margin-left: 100px;
}
.intoro1{
    background-color: rgb(239, 239, 14);


}
.col-11{
    background-color: rgb(23, 174, 201);
    border-radius: 80px;
    width: 700px;
    
}

h6{ font-size: 20px;
color:rgb(121, 171, 236)}